<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<title>SafeMove</title>
	<!-- <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=07680849c03baaf56747304ca4a5dbfd"></script> -->
	<script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
    <script src="http://webapi.amap.com/maps?v=1.3&key=07680849c03baaf56747304ca4a5dbfd"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
	<!-- <script type="text/javascript" src="Amap.js"></script> -->
	<link rel="stylesheet" href="css/Style.css">
	</head>
	<body>
	<p class="warning">警告 本网站仅供项目测试使用，所有内容和数据均为虚构信息，请不要相信和传播，谢谢！</p>
	<header>
	<a id="logo" href="#"><img src="SafeMoveLogo.png" alt="logo" width="100px" height="70px"></a>
		<nav>
			<ul>
				<li><a href="#">首页</a></li>
				<li><a href="#">附近</a></li>
				<li><a href="#">搜索</a></li>
				<li><a href="#">我的账号</a></li>
				<li><a href="#">联系我们</a></li>
				<li class="invest">投资我们</li>
			</ul>
		</nav>
	</header>
	<main>
	<aside>
		<ul>
			<li>附近街道</li>
			<li>扒窃安全</li>
			<li>抢劫安全</li>
			<li>人身安全</li>
			<li>重大提醒</li>
		</ul>
	</aside>
	<div id="AmapContainer" script="AMap.js">

<!-- circle menu -->
		<div class="radmenu"><a href="#" class="show" >安全类型</a>
  <ul>
   <li>
      <a href="#">财产安全</a>
      <ul>
        <li class="submenu"><a href="#">扒窃</a></li>
        <li class="submenu"><a href="#">偷盗</a></li>
        <li class="submenu"><a href="#">抢劫</a></li>
        <li class="submenu"><a href="#">子类型4</a></li>
        <li class="submenu"><a href="#">子类型5</a></li>
      </ul>
    </li> 
    <li>
      <a href="#">人身安全</a>
      <ul>
        <li class="submenu"><a href="#">子类型1</a></li>
        <li class="submenu"><a href="#">子类型2</a></li>
        <li class="submenu"><a href="#">子类型3</a></li>
        <li class="submenu"><a href="#">子类型4</a></li>
        <li class="submenu"><a href="#">子类型5</a></li>
      </ul>
    </li>
    <li>
      <a href="#">安全类型3</a>
      <ul>
        <li class="submenu"><a href="#">子类型1</a></li>
        <li class="submenu"><a href="#">子类型2</a></li>
        <li class="submenu"><a href="#">子类型3</a></li>
        <li class="submenu"><a href="#">子类型4</a></li>
        <li class="submenu"><a href="#">子类型5</a></li>
      </ul>
    </li>
    <li>
      <a href="#">安全类型4</a>
      <ul>
        <li class="submenu"><a href="#">子类型1</a></li>
        <li class="submenu"><a href="#">子类型2</a></li>
        <li class="submenu"><a href="#">子类型3</a></li>
        <li class="submenu"><a href="#">子类型4</a></li>
        <li class="submenu"><a href="#">子类型5</a></li>
      </ul>
    </li>
    <li>
      <a href="#">安全类型5</a>
      <ul>
        <li class="submenu"><a href="#">子类型1</a></li>
        <li class="submenu"><a href="#">子类型2</a></li>
        <li class="submenu"><a href="#">子类型3</a></li>
        <li class="submenu"><a href="#">子类型4</a></li>
        <li class="submenu"><a href="#">子类型5</a></li>
      </ul>
    </li>
  </ul>
</div>
		<div class="btn switch">
			<span class="top content">财产安全</span>
			<span class="bottom content">切换</span>
		</div>
		<script src="Amap.js"></script>
	</div>
	</main>	
	</body>
</html>